*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
body {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:18pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.acc{
    width:800px;
    margin: 20px auto 0px auto;
    height:150px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form.acc fieldset.acc1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.acc fieldset.acc1 label{
    width:250px;
    float: left;
    text-align: left;
	margin-left: 15px;
    margin-right: 6px;
    margin-top:2px;
	font-size: 9pt;
}
form.acc legend
{
    color: #abda0f;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 18px;
    font-weight:100;
}
form.register{
    width:800px;
    margin: 20px auto 0px auto;
    height:2480px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row2 p.sous
{
	font-size:8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
	margin-left:35px;
}
form.register fieldset.row2 p.sous label
{
	width:400px;
    float: left;
    text-align: left;
	margin-left: 35px;
    margin-right: 35px;
    margin-top:10px;
	font-size: 9pt;
}
form.register fieldset.row2 p.sous label.mot1{
    margin-top:10px;
	margin-left:25px;
    margin-bottom:2px;
    width:10px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:300px;
    float: left;
    text-align: right;
	margin-left: 15px;
    margin-right: 100px;
    margin-top:2px;
	font-size: 9pt;
}
form.register fieldset.row2
{
    width:840px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row2 label{
    width:400px;
    float: left;
    text-align: left;
	margin-left: 35px;
    margin-right: 35px;
    margin-top:10px;
	font-size: 9pt;
}
form.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
}
form.register legend
{
    color: #abda0f;
    padding:2px;
    margin-left: 14px;
	margin-bottom: 10px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
	font-size: 18px;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 1px;
	margin-top:10px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
	margin-right:-15px;
    float:left;
    width:15px;
}
form.register fieldset.row2 label.mot3{
    margin-top:10px;
	margin-left:25px;
    margin-bottom:2px;
    width:250px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register fieldset.row2 label.mot2{
    margin-top:10px;
	margin-left:25px;
    margin-bottom:2px;
    width:100px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register fieldset.row2 label.mot1{
    margin-top:10px;
	margin-left:25px;
    margin-bottom:2px;
    width:10px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register fieldset.row2 label.check{
    margin-top:10px;
	margin-left:25px;
    margin-bottom:2px;
    width:300px;
	float:left;
    text-align:left;
    line-height:19px;
}
form.register fieldset.row2 label.checkx3{
    margin-top:12px;
	margin-left:15px;
    margin-bottom:2px;
    width:165px;
	float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}
.button2
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:center;
    font-size:18px;
    margin:10px;
}
form.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.register textarea
{
	float:left;
	margin-left:35px;
	margin-top:10px;
	margin-bottom:10px;
    border: 1px solid #E1E1E1;
    height: 65px;
    width:550px;
}
form.register input[type=checkbox] {
	float:left;
	margin-left:35px;
    width:14px;
    margin-top:15px;
}
form.register select
{
	margin-top:10px;
    border: 1px solid #E1E1E1;
    width: 170px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}

